<!doctype html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- /meta -->

  <!-- styles -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/static/css/base.css" />
  {% block styles %}{% endblock %}
  <!-- /styles -->

  <!-- favicons CHANGE HERE IF YOU WANT TO CHANGE FAVICON -->
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <!-- /favicons -->

  <!-- scripts -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write(
      '<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')
  </script>
  <!-- <script type="text/javascript" src="/static/js/bootstrap.js" defer></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  {% block scripts %}{% endblock %}
  <!-- /scripts -->

</head>

<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chatrooms/create/">Chatrooms</a>
            </li>
          </ul>
        </div>
        <span id="login-section" style="float: right; display: none;">
          <span id="login-name">
          </span>
          <span>
            (<a id="logout-button" type="button">Logout</a>)
          </span>
        </span>
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main">

      {% block content %}{% endblock %}

    </main>

  </div>

  <div id="footer">
    {% block footer %}{% endblock %}
  </div>

</body>

</html>